.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

